<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>

  <style>
      .page-wrapper {
          margin: 0 auto;
          max-width: 700px;
      }

      pre {
          padding: 10px;
          background-color: #F7F7F7;
      }
  </style>
</head>
<body>
<div class='page-wrapper'>
  <!-- intro -->
  <header>
    <h1><%= title %></h1>
    <p><%= description %></p>
  </header>

  <h2>Table of Content</h2>
  <a href="index.html">Back to Home</a>
  <!-- table of content -->
  <ul>
    <% for(const item of tableOfContent) { %>
      <li>
        <a href="<%= item.link %>"><%= item.title %></a>
      </li>
    <% } %>
  </ul>

  <!-- main -->
  <main>
    <% for(const docMeta of docMetaCollection) { %>
      <article id="<%= encodeURIComponent(docMeta.title) %>">
        <h2><%= docMeta.title %></h2>
        <p><%= docMeta.description %></p>

        <!-- Request -->
        <h3>Request</h3>
        <p>
          <span><%= docMeta.request.method %></span>
          <span><%= docMeta.request.url %></span>
        </p>

        <h4>Params: </h4>
        <pre><%= JSON.stringify(docMeta.request.params, null, 2) %></pre>

        <h4>Body: </h4>
        <pre><%= JSON.stringify(docMeta.request.body, null, 2) %></pre>

        <!-- Response -->
        <h3>Response</h3>

        <h4>Body: </h4>
        <pre><%= JSON.stringify(docMeta.response.body, null, 2) %></pre>
      </article>
    <% } %>
  </main>
</div>
</body>
</html>
