<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <style>
      body {
          margin: 0 auto;
          max-width: 700px;
      }
  </style>
</head>
<body>
<h1><%= title %></h1>

<p><%= description %></p>

<h2>Table of Content</h2>

<ul class="toc">
  <% for(const page of pages) { %>
    <li>
      <a href="<%= page.link %>"><%= page.title %></a>
    </li>
  <% } %>
</ul>

<hr>

<footer>
  <small><strong>Created by: <%= author %></strong></small>
  ,
  <small><strong>Created at: <%= createdAt %></strong></small>
</footer>
</body>
</html>
