<h1>Doc</h1>

<% for(let docMeta of docMetaCollection) { %>
    <div>
        <h2>Get all users</h2>

        <!-- Request -->
        <h3>Request</h3>
        <p>
            <span><%= docMeta.request.method %></span>
            <span><%= docMeta.request.url %></span>
        </p>
        <p>Params: </p>
        <pre><%= JSON.stringify(docMeta.request.params, null, '\t') %></pre>
        <p>Body: </p>
        <pre><%= docMeta.request.body %></pre>

        <!-- Response -->
        <h3>Response</h3>
        <p>Body: </p>
        <pre><%= JSON.stringify(docMeta.response.body, null, '\t').trim() %></pre>
    </div>
<% } %>
