<h1><%= title %></h1>
<p><%= description %></p>

<% for(let docMeta of docMetaCollection) { %>
    <div>
        <h2><%= docMeta.title %></h2>
        <p><%= docMeta.description %></p>

        <!-- Request -->
        <h3>Request</h3>
        <p>
            <span><%= docMeta.request.method %></span>
            <span><%= docMeta.request.url %></span>
        </p>

        <h4>Params: </h4>
        <pre><%= JSON.stringify(docMeta.request.params, null, '\t') %></pre>

        <h4>Body: </h4>
        <pre><%= docMeta.request.body %></pre>

        <!-- Response -->
        <h3>Response</h3>

        <h4>Body: </h4>
        <pre><%= JSON.stringify(docMeta.response.body, null, '\t').trim() %></pre>
    </div>
<% } %>
